<div class="col-lg-2 p-0">
    <div class="toggle mb-0 position-absolute z-10 w-100">
        <div class="toggle-header flex-row-reverse bg_primary_orange color_primary_gray_light pt-2 pb-2 m-0 rounded-top">
            <div class="toggle-icon">
                <i class="toggle-closed uil uil-plus fs-5 pe-4"></i>
                <i class="toggle-open uil uil-minus fs-5 pe-4"></i>
            </div>
            <div class="toggle-title fw-medium">
                <i class="uil-sliders-v-alt"> </i> TAMAÑO
            </div>
        </div>
        <div class="toggle-content bg_primary_blue color_primary_gray_light m-0 p-3">
            <select class="selectpicker" name="tam" id="tam" multiple>
                <option value="Pequeña">Pequeña</option>
                <option value="Mediana">Mediana</option>
                <option value="Grande">Grande</option>
                <option value="Otras">Otras</option>
                <option value="LEI">LEI</option>
            </select>
        </div>
    </div>
</div>

<div class="col-lg-2 p-0">
    <div class="toggle mb-0 position-absolute z-10 w-100">
        <div class="toggle-header flex-row-reverse bg_primary_blue color_primary_gray_light pt-2 pb-2 m-0 rounded-top">
            <div class="toggle-icon">
                <i class="toggle-closed uil uil-plus fs-5 pe-4"></i>
                <i class="toggle-open uil uil-minus fs-5 pe-4"></i>
            </div>
            <div class="toggle-title fw-medium">
                <i class="uil-sliders-v-alt"> </i> INDUSTRIA
            </div>
        </div>
        <div class="toggle-content bg_primary_orange color_primary_gray_light m-0 p-3">
            <select class="selectpicker" name="ind" id="ind" multiple>
                <option value="Fabricante">Fabricante</option>
                <option value="Retail">Retail</option>
                <option value="Salud">Salud</option>
                <option value="Moda">Moda</option>
                <option value="Financiero">Financiero</option>
                <option value="Alimentos Frescos/Agro">Alimentos Frescos/Agro</option>
            </select>
        </div>
    </div>
</div>

<div class="col-lg-2 p-0">
    <div class="toggle mb-0 position-absolute z-10 w-100">
        <div class="toggle-header flex-row-reverse bg_primary_orange color_primary_gray_light pt-2 pb-2 m-0 rounded-top">
            <div class="toggle-icon">
                <i class="toggle-closed uil uil-plus fs-5 pe-4"></i>
                <i class="toggle-open uil uil-minus fs-5 pe-4"></i>
            </div>
            <div class="toggle-title fw-medium">
                <i class="uil-sliders-v-alt"> </i> REGIÓN
            </div>
        </div>
        <div class="toggle-content bg_primary_blue color_primary_gray_light m-0 p-3">
            <select class="selectpicker" name="reg" id="reg" multiple>
                <option value="BAJÍO">BAJÍO</option>
                <option value="PACÍFICO">PACÍFICO</option>
                <option value="NORTE">NORTE</option>
                <option value="SURESTE">SURESTE</option>
                <option value="VALLE DE MÉXICO">VALLE DE MÉXICO</option>
                <option value="CENTRO">CENTRO</option>
            </select>
        </div>
    </div>
</div>

<div class="col-lg-2 p-0">
    <div class="toggle mb-0 position-absolute z-10 w-100">
        <div class="toggle-header flex-row-reverse bg_primary_blue color_primary_gray_light pt-2 pb-2 m-0 rounded-top">
            <div class="toggle-icon">
                <i class="toggle-closed uil uil-plus fs-5 pe-4"></i>
                <i class="toggle-open uil uil-minus fs-5 pe-4"></i>
            </div>
            <div class="toggle-title fw-medium">
                <i class="uil-sliders-v-alt"> </i> CÓDIGO
            </div>
        </div>
        <div class="toggle-content bg_primary_orange color_primary_gray_light m-0 p-3">
            <select class="selectpicker" name="cod" id="cod" multiple>
                <option value="Activa">Activa</option>
                <option value="No Activa">No Activa</option>
                <option value="Morosa">Morosa</option>
                <option value="SinServicio">Sin Servicio</option>
            </select>
        </div>
    </div>
</div>

<div class="col-lg-2 p-0">
    <div class="toggle mb-0 position-absolute z-10 w-100">
        <div class="toggle-header flex-row-reverse bg_primary_orange color_primary_gray_light pt-2 pb-2 m-0 rounded-top">
            <div class="toggle-icon">
                <i class="toggle-closed uil uil-plus fs-5 pe-4"></i>
                <i class="toggle-open uil uil-minus fs-5 pe-4"></i>
            </div>
            <div class="toggle-title fw-medium">
                <i class="uil-sliders-v-alt"> </i> CATÁLOGO
            </div>
        </div>
        <div class="toggle-content bg_primary_blue color_primary_gray_light m-0 p-3">
            <select class="selectpicker" name="cat" id="cat" multiple>
                <option value="Activa">Activa</option>
                <option value="No Activa">No Activa</option>
                <option value="Morosa">Morosa</option>
                <option value="SinServicio">Sin Servicio</option>
            </select>
        </div>
    </div>
</div>

<div class="col-lg-2 p-0">
    <div class="toggle mb-0 position-absolute z-10 w-100">
        <div class="toggle-header flex-row-reverse bg_primary_blue color_primary_gray_light pt-2 pb-2 m-0 rounded-top">
            <div class="toggle-icon">
                <i class="toggle-closed uil uil-plus fs-5 pe-4"></i>
                <i class="toggle-open uil uil-minus fs-5 pe-4"></i>
            </div>
            <div class="toggle-title fw-medium">
                <i class="uil-sliders-v-alt"> </i> LEI
            </div>
        </div>
        <div class="toggle-content bg_primary_orange color_primary_gray_light m-0 p-3">
            <select class="selectpicker" name="lei" id="lei" multiple>
                <option value="Activa">Activa</option>
                <option value="No Activa">No Activa</option>
                <option value="Morosa">Morosa</option>
                <option value="SinServicio">Sin Servicio</option>
            </select>
        </div>
    </div>
</div>