<header id="header" class="full-header" data-sticky-shrink="false">
	<div id="header-wrap">
		<div class="container">

		<div class="row topBar-bg justify-content-end">
                <div class="col-12 col-md-auto">
                    <div class="d-inline-flex justify-content-center align-items-center topBar_div-spaced move">
                        <span class="topBar_span-bienvenido">BIENVENIDO &nbsp;</span>
                        <span class="topBar_span-usuario">ADMIN &nbsp;</span>
                        <span class="bi-circle-fill topBar_i-circulo "> &nbsp;</span>
                        <span class="topBar_span-visita">Última Visita: <span id="ultimaVisita"></span></span>
                    </div>
                </div>
            </div>

			<div class="header-row">

				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="home">
						<img class="logo-default" srcset="images/logo_ini.png, images/logo_ini.png" src="images/logo_ini.png"  alt="GS1 Logo">
					</a>
				</div>
				<!-- #logo end -->

				<div class="primary-menu-trigger">
					<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
						<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
					</button>
				</div>

				<!-- Primary Navigation
				============================================= -->
				<nav class="primary-menu">

					<ul class="menu-container nav_ul-item">
						<li class="menu-item ">
							<a class="menu-link header" href="/Historicos"><div>HISTORICOS</div></a>
						</li>
						
						<li class="menu-item">
							<a class="menu-link" href="/logout"><div><i class="fa-solid fa-sign-out-alt icono"></i></div></a>
						</li>
						
					</ul>

				</nav><!-- #primary-menu end -->

			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
</header>