<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="uil uil-angle-up"></div>

<!-- JavaScripts
	============================================= -->
<script src="js/jquery.js"></script>
<script src="js/plugins.min.js"></script>
<script src="js/functions.bundle.js"></script>

<!-- Select Splitter Plugin -->
<script src="js/components/selectsplitter.js"></script>
<script src="js/components/bs-select.js"></script>

<!-- Bootstrap Switch Plugin -->
<script src="js/components/bs-switches.js"></script>

<!-- Date & Time Picker JS -->
<script src="js/components/datepicker.js"></script>
<script src="js/components/timepicker.js"></script>
<script src="js/components/daterangepicker.js"></script>

<script src="js/components/datatables.min.js"></script>

<!-- Charts -->
<script src="js/chart.js"></script>
<script src="js/chart-utils.js"></script>
<script src="js/Chart.bundle.js"></script>
<script src="js/chartjs-plugin-doughnutlabel.js"></script>
<script src="js/chartjs-plugin-datalabels.js"></script>

<!-- Colors -->
<script src="js/colors.js"></script>
<script src="js/sweetalert2.all.min.js"></script>
<script src="js/scripts/datatable.js"></script>

<!-- Descargar xlsx-->
<script src="js/xlsx.full.min.js"></script>

<!-- Utils -->
<script src="js/scripts/utils.js"></script>

<script>
  jQuery(".bt-switch").bootstrapSwitch();
</script>
